.album_title {
    -fx-font-size: 1.5em;
    -fx-text-fill: #0c7032;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #3C4A3E;
}

.album_border {
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #3C4A3E;
}

.artist {
    -fx-text-fill: rgba(12, 110, 48, 0.69);
}