.root {

}

.icon {
    -fx-font-family: FontAwesome;
    -fx-font-size: 1em;
    -fx-text-fill: #0c7032;
}

.icon:disabled {
    -fx-text-fill: gray;
}

.statusbar {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: lightgray;
}

.statusbar ProgressBar {
    -fx-accent: #0c7032;
}