.root .album_title {
    -fx-font-size: 1.5em;
    -fx-text-fill: #0c7032;
    -fx-fill: #0c7032;
    -fx-font-weight: bold;
}

.root .album_border {
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #3C4A3E;
}

.root .artist {
    -fx-text-fill: rgba(12, 110, 48, 0.69);
    -fx-fill: rgba(12, 110, 48, 0.69);
}

.root .album_image_overlay {
    -fx-background-color: rgba(90, 90, 90, 0.5);
}

.root .album_image_overlay Icon, .root .album_image_overlay IconSolid {
    -fx-text-fill: #d5d5d5;
}

.root .album_image_overlay .context-menu Icon, .root .album_image_overlay .context-menu IconSolid {
    -fx-text-fill: #0c7032;
}

.root .album_image_overlay .icon-clickable:hover {
    -fx-text-fill: #fafafa;
}