.root Icon, .root IconSolid, .root IconRegular {
    -fx-text-fill: #0c7032;
}

.root Icon:disabled, .root IconSolid:disabled, .root IconRegular:disabled {
    -fx-text-fill: gray;
}

.root .icon-clickable:hover {
    -fx-cursor: hand;
    -fx-text-fill: #12bc53;
}

.root ProgressIndicator {
    -fx-progress-color: #0c7032;
}

.root .form .form-label {
    -fx-text-fill: rgba(12, 110, 48, 0.69);
    -fx-fill: rgba(12, 110, 48, 0.69);
}